Repository eclipse-tractusx/tractusx-edc, pull requests merged in 2024-05, with the labels that each got.

#1287 fix: add notice file to Mock Connector
  edc-tests/runtime/mock-connector/notice.md
Labels: bug, docker

#1301 feat: make auto_refresh default to true
  edc-extensions/edr/edr-api-v2/src/main/java/org/eclipse/tractusx/edc/api/edr/v2/EdrCacheApi.java
  edc-extensions/edr/edr-api-v2/src/main/java/org/eclipse/tractusx/edc/api/edr/v2/EdrCacheApiController.java
  edc-extensions/edr/edr-api-v2/src/test/java/org/eclipse/tractusx/edc/api/edr/v2/EdrCacheApiControllerTest.java
Labels: enhancement

#1307 chore: harmonize settings names (with backwards compat)
  core/core-utils/src/main/java/org/eclipse/tractusx/edc/core/utils/ConfigUtil.java
  core/core-utils/src/main/java/org/eclipse/tractusx/edc/core/utils/RequiredConfigWarnings.java
  core/core-utils/src/test/java/org/eclipse/tractusx/edc/core/utils/ConfigUtilTest.java
  edc-controlplane/edc-runtime-memory/build.gradle.kts
  edc-controlplane/edc-runtime-memory/src/main/java/org/eclipse/tractusx/edc/vault/memory/VaultSeedExtension.java
  edc-extensions/bdrs-client/src/main/java/org/eclipse/tractusx/edc/identity/mapper/BdrsClientExtension.java
  edc-extensions/bdrs-client/src/test/java/org/eclipse/tractusx/edc/identity/mapper/BdrsClientImplExtensionTest.java
  edc-extensions/dataplane/dataplane-proxy/edc-dataplane-proxy-consumer-api/build.gradle.kts
  edc-extensions/dataplane/dataplane-proxy/edc-dataplane-proxy-consumer-api/src/main/java/org/eclipse/tractusx/edc/dataplane/proxy/consumer/api/DataPlaneProxyConsumerApiExtension.java
  edc-extensions/dataplane/dataplane-token-refresh/token-refresh-core/src/main/java/org/eclipse/tractusx/edc/dataplane/tokenrefresh/core/DataPlaneTokenRefreshServiceExtension.java
  edc-extensions/iatp/tx-iatp-sts-dim/src/main/java/org/eclipse/tractusx/edc/iam/iatp/sts/dim/DimSecureTokenServiceExtension.java
  edc-extensions/iatp/tx-iatp-sts-dim/src/main/java/org/eclipse/tractusx/edc/iam/iatp/sts/dim/DimStsConfigurationExtension.java
  edc-extensions/iatp/tx-iatp-sts-dim/src/test/java/org/eclipse/tractusx/edc/iam/iatp/sts/dim/DimOauthClientExtensionTest.java
  edc-extensions/iatp/tx-iatp-sts-dim/src/test/java/org/eclipse/tractusx/edc/iam/iatp/sts/dim/DimSecureServiceExtensionTest.java
  edc-extensions/iatp/tx-iatp/src/main/java/org/eclipse/tractusx/edc/iam/iatp/IatpDefaultScopeExtension.java
  edc-extensions/migrations/postgresql-migration-lib/build.gradle.kts
  edc-extensions/migrations/postgresql-migration-lib/src/main/java/org/eclipse/tractusx/edc/postgresql/migration/AbstractPostgresqlMigrationExtension.java
  edc-extensions/tokenrefresh-handler/src/main/java/org/eclipse/tractusx/edc/common/tokenrefresh/TokenRefreshHandlerExtension.java
  edc-tests/e2e-tests/src/test/java/org/eclipse/tractusx/edc/lifecycle/DimParticipant.java
  edc-tests/edc-controlplane/fixtures/src/testFixtures/java/org/eclipse/tractusx/edc/tests/participant/TractusxIatpParticipantBase.java
  edc-tests/edc-controlplane/fixtures/src/testFixtures/java/org/eclipse/tractusx/edc/tests/participant/TractusxParticipantBase.java
  edc-tests/edc-dataplane/cloud-transfer-tests/src/test/java/org/eclipse/tractusx/edc/dataplane/transfer/test/RuntimeConfig.java
  edc-tests/edc-dataplane/edc-dataplane-tokenrefresh-tests/src/test/java/org/eclipse/tractusx/edc/dataplane/tokenrefresh/e2e/RuntimeConfig.java
  edc-tests/runtime/extensions/build.gradle.kts
  edc-tests/runtime/extensions/src/main/java/org/eclipse/tractusx/edc/lifecycle/VaultSeedExtension.java
  edc-tests/runtime/iatp/iatp-extensions/src/main/java/org/eclipse/tractusx/edc/iatp/TestAudienceMapperExtension.java
  samples/edc-dast/edc-dast-runtime/configuration.properties
  samples/multi-tenancy/src/test/resources/tenants.properties
Labels: enhancement

#1308 chore(deps): bump EDC to 0.6.4
  DEPENDENCIES
  edc-tests/runtime/iatp/runtime-memory-iatp-dim-ih/build.gradle.kts
  edc-tests/runtime/iatp/runtime-memory-iatp-ih/build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies

#1309 build(deps): align eclipse-temurin versions to 22.0.1_8-jre-alpine
  .github/dependabot.yml
  DEPENDENCIES
  edc-controlplane/edc-runtime-memory/src/main/docker/Dockerfile
  edc-tests/runtime/mock-connector/src/main/docker/Dockerfile
  samples/edc-dast/edc-dast-runtime/src/main/docker/Dockerfile
Labels: dependencies

#1314 feat(ci): add multi-k8s versions test
  .github/actions/run-deployment-test/action.yml
  .github/workflows/deployment-test.yaml
Labels: enhancement

#1324 fix(ci): add Mocked EDC to automatic artefact release
  .github/workflows/publish.yaml
Labels: enhancement, github-actions

#1333 chore(build): upgrade to EDC nightly
  DEPENDENCIES
  charts/tractusx-connector-azure-vault/templates/deployment-controlplane.yaml
  charts/tractusx-connector-azure-vault/templates/deployment-dataplane.yaml
  charts/tractusx-connector-memory/README.md
  charts/tractusx-connector-memory/templates/deployment-runtime.yaml
  charts/tractusx-connector-memory/values.yaml
  charts/tractusx-connector/templates/deployment-controlplane.yaml
  charts/tractusx-connector/templates/deployment-dataplane.yaml
  docs/migration/Version_0.5.x_0.7.x.md
  edc-extensions/dataplane/dataplane-proxy/edc-dataplane-proxy-consumer-api/src/main/java/org/eclipse/tractusx/edc/dataplane/proxy/consumer/api/DataPlaneProxyConsumerApiExtension.java
  edc-extensions/dataplane/dataplane-proxy/edc-dataplane-proxy-consumer-api/src/main/java/org/eclipse/tractusx/edc/dataplane/proxy/consumer/api/TokenBasedAuthenticationService.java
  edc-extensions/dataplane/dataplane-token-refresh/token-refresh-core/src/main/java/org/eclipse/tractusx/edc/dataplane/tokenrefresh/core/DataPlaneTokenRefreshServiceExtension.java
  edc-extensions/edr/edr-api-v2/src/main/java/org/eclipse/tractusx/edc/api/edr/v2/EdrCacheApi.java
  edc-tests/e2e-tests/src/test/java/org/eclipse/tractusx/edc/lifecycle/DimParticipant.java
  edc-tests/edc-controlplane/fixtures/src/testFixtures/java/org/eclipse/tractusx/edc/tests/ParticipantEdrApi.java
  edc-tests/edc-controlplane/fixtures/src/testFixtures/java/org/eclipse/tractusx/edc/tests/helpers/EdrNegotiationHelperFunctions.java
  edc-tests/edc-controlplane/fixtures/src/testFixtures/java/org/eclipse/tractusx/edc/tests/participant/TractusxParticipantBase.java
  edc-tests/edc-controlplane/iatp-tests/src/test/java/org/eclipse/tractusx/edc/tests/transfer/iatp/harness/IatpParticipant.java
  edc-tests/edc-dataplane/cloud-transfer-tests/src/test/java/org/eclipse/tractusx/edc/dataplane/transfer/test/RuntimeConfig.java
  edc-tests/edc-dataplane/edc-dataplane-tokenrefresh-tests/src/test/java/org/eclipse/tractusx/edc/dataplane/tokenrefresh/e2e/RuntimeConfig.java
  gradle/libs.versions.toml
Labels: enhancement, dependencies
